/*
*
* CSS styles for the New Zealand project
*
*/

body {
    max-width: 1280px;
    margin: auto;
}

#header {
    text-align: center;
    background-color: salmon;
    background-image: url("images/header.jpg");
}
#header h2 {
    font-size: 4em;
    margin: 0;
    padding: 1em 0;
    
}
#header h3 {
    font-size: 3em;
    margin: 0;
}
#header h4 {
    font-size: 0.75em;
    font-style: italic;
    margin: 0;
}

.author {
}
.author img {
}
.author p {
}

.article {
}
.article figure {
}
.article figure img {
}
.article figure figcaption {
}

#map {
}

#footer {
}
#footer .back {
}
#footer .next {
}

a:link, a:visited {
}
.gray, .gray a:link, .gray a:visited {
}
.white, .white a:link, .white a:visited {
    color: white;
}

@media only screen and (max-width: 900px) {
    .article figure figcaption {
    }
}