/*
*
* CSS styles for the New Zealand project
*
*/

body {
    max-width: 1280px;
    margin: auto;
}

#header {
    text-align: center;
    background-color: salmon;
    background-image: url("images/header.jpg");
}
#header h2 {
    font-size: 4em;
    margin: 0;
    padding: 1em 0;
    
}
#header h3 {
    font-size: 3em;
    margin: 0;
}
#header h4 {
    font-size: 0.75em;
    font-style: italic;
    margin: 0;
}

.author {
    text-align: center;

}
.author img {
    border: 4px solid white;
    border-radius: 10%;
    margin-top: -50px;
}
.author p {
    font-size: 0.9em;
    font-style: italic;
}

.article {
    margin: auto;
    width: 70%;
}
.article figure {
    margin-left: 0;
}
.article figure img {
    width: 90%;
}
.article figure figcaption {
    margin-left: -12em;
    width: 11.5em;
    float: left;
}

#map {
}

#footer {
    padding: 1em 0 3em 0;
}
#footer .back {
    float: left;
}
#footer .next {
    float: right;
}

a:link, a:visited {
}
.gray, .gray a:link, .gray a:visited {
    color: grey;

}
.white, .white a:link, .white a:visited {
    color: white;
}

@media only screen and (max-width: 900px) {
    .article figure figcaption {
    }
}